body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: url(background.jpg);
  background-size: cover;*/
}

.sidebar {
  width: 14vw;
  float: left;
  padding: 20px;
}

.main-content{
  width: 79vw;
  float: right;
}

.logo{
  margin: auto;
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}

.notFoundImg{
  max-width: 100%;
  margin-top: 50px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


@media (max-width: 790px) {
  .Gnome {
    width: 113px !important;
  }
  .main-content {
    width: 70vw !important;
  }
}

@media (max-width: 400px) {
  .main-content {
    float: none !important;
    width: 100vw !important;
    word-wrap: break-word;
  }
  .sidebar{
    float: none !important;
    width: 100%;
    padding: 10px 0px;
  }
  .Search input{
    width: 50% !important;
  }
  .DashboardContent ul{
    padding: 0px;
  }
}
